/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f5ff;
    color: #333;
    line-height: 1.6;
}

/* Contenedor principal */
#contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; /* Se aumentó la proporción del main */
    grid-template-areas: 
        "cabecera cabecera cabecera"
        "izquierda main derecha"
        "pie pie pie";
    gap: 20px;
    padding: 20px 0;
}

/* Cabecera */
header {
    grid-area: cabecera;
    background-color: #1a3a6c;
    color: rgb(231, 215, 215);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

/* Navegación */
nav {
    display: flex;
    flex-direction: column; /* Se colocan los enlaces en lista vertical */
    align-items: start;
    padding: 10px 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav ul li {
    margin-bottom: 10px;
}

nav a {
    color: #2f64d8; /* Azul */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #78a3ff;
}

/* Contenido principal más grande */
main {
    grid-area: main;
    background-color: white;
    padding: 40px; /* Se aumentó el padding */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 1.1em; /* Aumento del tamaño de fuente */
    display: flex;
    flex-direction: column;
}

main h1 {
    color: #1a3a6c;
    font-size: 2.2em; /* Tamaño más grande */
    margin-bottom: 20px;
    border-bottom: 2px solid #78a3ff;
    padding-bottom: 10px;
    order: 1; /* Se asegura de que esté antes del párrafo */
}

main .introduccion {
    order: 2; /* Asegura que el párrafo de introducción esté después del h1 */
}

main h2 {
    margin-top: 30px;
    order: 3;
}

main h3 {
    margin-top: 30px;
    order: 5;
}

main p {
    margin-bottom: 20px;
    text-align: justify;
    order: 4;
}

/* Ajustes de adaptabilidad para móviles */
@media (max-width: 768px) {
    #contenedor {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "cabecera"
            "izquierda"
            "main"
            "derecha"
            "pie";
    }
}
