/* import: Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Iso&family=Syne+Mono&display=swap');
/* import: Símbolos */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


/* icono foro: https://fonts.google.com/icons?categoryFilters=Appearance:%2FTheme%2FTechno&selected=Material+Symbols+Outlined:partner_exchange:FILL@0;wght@400;GRAD@0;opsz@24&icon.size=24&icon.color=%23000000
, modificadas: perfil.php, plantilla.php, cabecera->header, pie->footer, sidebarS->sidebar */

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Tipografías */
.syne-mono {
    font-family: 'Syne Mono', monospace;
    /*font-weight: 400;
    font-style: normal;*/
}

.rubik-glitch {
    font-family: 'Rubik Glitch', cursive;
    /*font-weight: 400;
    font-style: normal;*/
}

.rubik-iso {
    font-family: 'Rubik Iso', cursive;
    /*font-weight: 400;
    font-style: normal;*/
}


/* Contenedor principal */
#contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    gap: 20px;
    padding: 20px 0;
}


/* Cabecera */
header {
    grid-area: header;
    background-color: #fceb00;
    color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(101, 90, 118, 0.1);
    font-family: "Rubik Glitch", sans-serif;
}

header h1 {
    font-size: 7em;
    margin-bottom: 10px;
    font-weight: 440; /* { 100 , 900 } */
}