/* import: Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&family=Rubik+Iso&family=Syne+Mono&display=swap');
/* import: Símbolos */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


/*morado: #aa0fe7;*/

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Tipografías */
.syne-mono {
    font-family: 'Syne Mono', monospace;
    /*font-weight: 400;
    font-style: normal;*/
}

.rubik-glitch {
    font-family: 'Rubik Glitch', cursive;
    /*font-weight: 400;
    font-style: normal;*/
}

.rubik-iso {
    font-family: 'Rubik Iso', cursive;
    /*font-weight: 400;
    font-style: normal;*/
}


/* Cambiar color enlaces :) */
.enlaces {
    color: rgb(188, 17, 255);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.enlaces:hover {
    color: rgb(164, 1, 201);
    text-decoration: underline;
}


/* Estilos principales */
body {
    font-family: Verdana, sans-serif;
    background-color: rgb(96, 96, 104); /* moradete: 4e00b4*/
    color: black;
    line-height: 1.6;
}

/* Contenedor principal */
#contenedor {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";
    gap: 20px;
    padding: 20px 0;
}


/* Cabecera */
header { 
    grid-area: header;
    /* 
    background-color: #fceb00; */
    background-color: black;
    color: #fceb00;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(101, 90, 118, 0.1);
    font-family: "Rubik Glitch", sans-serif;
    text-align: center;
}

header h1 {
    font-size: 7em;
    margin-bottom: 10px;
    font-weight: 440;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}

header h1::before,
header h1::after {
    content: "star"; /* nombre icono */
    font-family: "Material Symbols Outlined";
    font-size: 0.6em;
    vertical-align: middle;
}

.saludo {
    text-align: right; /* Alinea el texto a la derecha */
    font-family: Verdana, sans-serif; /* Cambia la tipografía */
    font-size: 1em; /* Ajusta el tamaño de la fuente si es necesario */
}


/* Main area */
main {
    grid-area: main;
    background-color: #5507d3;
    padding: 40px; /* Se aumentó el padding */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    font-size: 1.1em; /* Aumento del tamaño de fuente */
}

main h1 {
    color: rgb(218, 36, 255);
    font-size: 2.2em; /* Tamaño más grande */
    margin-bottom: 20px;
    border-bottom: 2px solid #78a3ff;
    padding-bottom: 10px;
}

main p {
    margin-bottom: 15px;
    text-align: justify;
}

#contenedor-eventos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); 
    gap: 20px;
}

.evento {
    background-color: black;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Navigation area */
nav {
    grid-area: sidebar;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    align-items: start;
}

nav h1 {
    color: rgb(96, 96, 104);
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

nav ul li {
    margin-bottom: 20px;
}

    



/* Ajustes de adaptabilidad para móviles */
@media (max-width: 768px) {
    #contenedor {
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "main"
            "sidebar"
            "footer";
    }
}
